%nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			%a{class: "navbar-brand"} LolCat
		.collapse.navbar-collapse
			.nav.navbar-nav.navbar-right
				%button{type: "button", class: "btn btn-default navbar-btn"} Sign in
				%button{type: "button", class: "btn btn-default navbar-btn"} Sign up
