%nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			%a{class: "navbar-brand"} LolCat
		.collapse.navbar-collapse
			.nav.navbar-nav.navbar-right
				- if user_signed_in?
					%span= current_user.email
					= render 'shared/menu'
				- else
					= render 'shared/sign_in'
					= render 'shared/sign_up'